.footer--background{
	background-color:#BFF8CE;

}


/*google maps*/

.footer3{

	iframe{
	width:100%;
	height:100%;
	}
	
}


@media only screen and (min-width: 0px) and (max-width: 767px){
	
	.footer{
	flex-position:column;
	}



}

