

@media only screen and (min-width: 0px) and (max-width: 1119px){

.YouTube__iframe--tamanio,.galeria__imagen--tamanio {
		
		padding-bottom:5%;
		width:100%;
	}

 
}
@media only screen and (min-width: 1120px){

.galeria__imagen--tamanio,.YouTube__iframe--tamanio{

		
		padding-bottom:5%;

		}

}
	
	

